* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
}

.hide {
    display: none;
}

.card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom,
            pink, rgb(243, 223, 226));

}

.title {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    filter: drop-shadow(5px 5px 20px rgb(181, 179, 179));
}

.title-2 {
    font-size: 5rem;
    display: flex;
    color: red;
    filter: drop-shadow(5px 5px 20px rgb(181, 179, 179));
}
#container{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-1 {
    width: 175px;
}

.image-2 {

    width: 240px;
}

.btn {
    position: absolute;
    top: calc(100% - 5rem);
    min-width: 120px;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: azure;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(181, 179, 179);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(250, 171, 184);
    box-shadow: 5px 5px 10px grey;
}

.btn-yes {
    left: 50%;
    transform: translateX(calc(-100% - 1rem));
    z-index: 1;
}

.btn-no {
    left: calc(50% + 1rem);
    transition: all 0.5s ease;
    z-index: 2;
}
